{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href={% static 'personal_nav/Favicon.png' %}>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title> 
            {% block title %} {% endblock title %} 
        </title>
    </head>

    <style>
        #body {
            {% if request.resolver_match.view_name != 'GetGroup' and request.resolver_match.view_name != 'Submissions' and request.resolver_match.view_name != 'ShowAttendance' and request.resolver_match.view_name != 'QRCode' and request.resolver_match.view_name != 'Scanner' %}
                background-image: url({% static 'personal_nav/Background.jpeg' %});
            {% endif %}

            background-color: lavender;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
        }

        {% block style %} {% endblock style %}
    </style>

    <body id="body">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
            <a class="navbar-brand" href="#"> BVCOE </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Notices </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Contact </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Groups
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for group in groups %}
                                <a class="dropdown-item" href="/communicationSystem/group/{{ group }}"> {{ group }} </a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        {% include 'groupModal.html' %}
                    </li>
                </ul>

                <div class="btn-group" style="margin-right: 1px">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.get_full_name }}
                    </button>
                    <div class="dropdown-menu" style="right: 1">

                        <a class="dropdown-item" href="#"> Profile </a>
                        <a class="dropdown-item" href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office365.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=0&client-request-id=76fa8fb2-bd7f-44d7-92d9-d23285a03606&protectedtoken=true&claims=%7b%22id_token%22%3a%7b%22xms_cc%22%3a%7b%22values%22%3a%5b%22CP1%22%5d%7d%7d%7d&nonce=637565986725897502.570c33ac-6906-408e-8696-edc93375bade&state=DYu9DoIwFEaLvotbpbT2tncgDibKAA6I0bD1b4BIIEAwvr0dzrec7ySEkH1kF0lYHKJAKAkSNSguNSrJ-FEq5oQwjgIyoCemA9WAQIN3KOLdGh-S2D7T8WvS87KaNeTZYQ6-m4NbmzE3Rc1cUUH5w82_68VynMsBh3b49G1T8ftD9pazzb6uk71g9H6ynRz9LVv-"> Check Mails </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/signOut/"> Sign Out </a>
                    </div>
                </div>
            </div>
        </nav>
        
        {% for msg in messages %}
            <div class="alert alert-{{msg.tags}} alert-dismissible fade show" style="margin-top: 5px;" role="alert">
                {{msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        
        {% block body %}  {% endblock body %}

    </body>
</html>
