{% extends 'basic.html' %}

{% block title %} {{ groupName }} {% endblock title %}

{% block style %}
    #tab {
        width: 76vw;
        height: 10vh;
        margin-left: 5vw;
        margin-top: 3vh;
    }

    #form-fields {
        width: 70vw;
        margin-left: 6vh;
        margin-bottom: 3vh;
    }

    #container {
        margin-top: 7vh;
        margin-bottom: 7vh;
    }

    #viewSub {
        color: green;
        margin-top: 9px;
        margin-left: 54vw;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
{% endblock style %}

{% block body %}

<div class="container" id="container">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

        <li class="nav-item" style="background-color: azure">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> ClassWork </a>
        </li>
        <li class="nav-item" style="background-color: azure">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> People </a>
        </li>
        <li class="nav-item" style="background-color: azure">
            <a class="{% if user.is_superuser %} nav-link {% else %} nav-link disabled {% endif %}" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false"> Create </a>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="tab" class="list-group">

                <div id="accordion">
                    {% for assignment in assignments %}
                        <div class="card" style="{% if forloop.last %} margin-bottom: 8vh {% endif %}">
                            <div class="card-header" id="heading{{ forloop.counter }}" style="background-color: azure;">
                                <h5 class="mb-0">

                                    <div class="row">
                                        <button class="btn btn-link" style="margin-left: 2vw" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                            {{ assignment.assign.topic }}
                                        </button>
                                        
                                        {% if assignment.sub != "not submitted" %}
                                            <a href="/communicationSystem/assignmentsSubmitted/{{ assignment.sub.id }}"> <h6 id="viewSub"> view submission </h6> </a>
                                        {% endif %}

                                        {% if user.is_superuser %}
                                            <a href="assignment/{{ assignment.assign.topic }}"> <h6 id="viewSub"> view submissions </h6> </a>
                                        {% endif %}
                                    </div>

                                </h5>
                            </div>
                    
                            <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row" style="margin-left: 0vh"> <h6> Due On : </h6> <p style="margin-left: 4px; margin-top: -2px"> {{ assignment.assign.dueDate }} </p> </div>

                                    <p> {{ assignment.assign.description }} </p>
                                    {% if user.is_superuser %}
                                    {% else %}
                                        <form method="post" action="submission/{{ assignment.assign.topic }}" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <input type="file" name="assignFile">
                                            <button class="btn btn-primary" type="submit"> Upload </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div id="tab" class="list-group">

                {% for user in members %}
                    <button type="button" class="list-group-item list-group-item-action" style="background-color: azure; {% if forloop.last %} margin-bottom: 8vh {% endif %}">
                        {{ user }}
                    </button>
                {% endfor %}

            </div>
        </div>

        <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
            <div id="tab" class="list-group">

                <form action="createAssign" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group" id="form-fields">
                        <label for="topic"> Topic </label>
                        <input name="topic" type="text" class="form-control" id="topic">
                    </div>
                    <div class="form-group" id="form-fields">
                        <label for="dueDate"> Due Date </label>
                        <input name="dueDate" type="date" class="form-control" id="dueDate">
                    </div>
                    <div class="form-group" id="form-fields">
                        <label for="description"> Description </label>
                        <textarea name="description" class="form-control" id="description" rows="2"></textarea>
                    </div>
                    <div class="form-group" id="form-fields">
                        <label for="upload"> Upload </label>
                        <input name="file" type="file" class="form-control" id="upload">
                    </div>

                    <button type="submit" class="btn btn-primary" id="form-fields"> Post </button>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock body %}
